Repository abs-tudelft/fletcher, pull requests merged in 2019-11, with the labels that each got.

#207 Update to Arrow 0.15.1
  azure-pipelines.yml
  codegen/cpp/fletchgen/README.md
  codegen/python/setup.py
  examples/sum/README.md
  misc/Dockerfile.python
  runtime/cpp/README.md
  runtime/python/setup.py
Labels: dependencies

#209 Fix AxiReadConverter when serializing without FIFO
  hardware/axi/AxiReadConverter.vhd
Labels: bug, hardware, lang:vhdl

#208 Add fletchgen entrypoint for pyfletchgen
  codegen/python/pyfletchgen/__init__.py
  codegen/python/setup.py
Labels: enhancement, fletchgen, lang:python

#212 Remove moved platforms from root CMake file
  CMakeLists.txt
Labels: lang:c++
