Repository abs-tudelft/fletcher, pull requests merged in 2019-08, with the labels that each got.

#180 Pipeline artifacts and manylinux wheels build fix
  .gitignore
  azure-pipelines.yml
  misc/Dockerfile.python
  runtime/python/setup.py
Labels: ci, lang:python

#182 Fix Fletchgen and Cerata build for Apple clang
  codegen/cerata/src/cerata/vhdl/template.cc
  codegen/fletchgen/src/fletchgen/top/sim.cc
Labels: cerata, fletchgen, lang:c++

#184 Add echo runtime to pyfletcher wheel
  runtime/python/MANIFEST.in
  runtime/python/pyfletcher/error.pxi
  runtime/python/setup.py
  runtime/python/tests/test_platform.py
Labels: lang:python

#179 Clang-tidy passes and minor bug fixes
  codegen/cerata/src/cerata/dot/dot.cc
  codegen/cerata/src/cerata/dot/dot.h
  codegen/cerata/src/cerata/dot/style.cc
  codegen/cerata/src/cerata/edge.cc
  codegen/cerata/src/cerata/flattype.cc
  codegen/cerata/src/cerata/graph.cc
  codegen/cerata/src/cerata/logging.h
  codegen/cerata/src/cerata/object.cc
  codegen/cerata/src/cerata/pool.cc
  codegen/cerata/src/cerata/transform.cc
  codegen/cerata/src/cerata/type.cc
  codegen/cerata/src/cerata/vhdl/architecture.cc
  codegen/cerata/src/cerata/vhdl/block.cc
  codegen/cerata/src/cerata/vhdl/declaration.cc
  codegen/cerata/src/cerata/vhdl/design.cc
  codegen/cerata/src/cerata/vhdl/identifier.cc
  codegen/cerata/src/cerata/vhdl/instantiation.cc
  codegen/cerata/src/cerata/vhdl/resolve.cc
  codegen/cerata/src/cerata/vhdl/vhdl.cc
  codegen/cerata/src/cerata/vhdl/vhdl_types.cc
  codegen/cerata/test/cerata/dot/test_graphs.cc
  codegen/cerata/test/cerata/test_designs.h
  codegen/cerata/test/cerata/test_expressions.cc
  codegen/fletchgen/src/fletchgen/array.cc
  codegen/fletchgen/src/fletchgen/array.h
  codegen/fletchgen/src/fletchgen/basic_types.cc
  codegen/fletchgen/src/fletchgen/basic_types.h
  codegen/fletchgen/src/fletchgen/fletchgen.cc
  codegen/fletchgen/src/fletchgen/kernel.cc
  codegen/fletchgen/src/fletchgen/kernel.h
  codegen/fletchgen/src/fletchgen/options.h
  codegen/fletchgen/src/fletchgen/srec/recordbatch.cc
  codegen/fletchgen/src/fletchgen/srec/srec.cc
  codegen/fletchgen/src/fletchgen/utils.cc
  codegen/fletchgen/test/fletchgen/test_mantle.cc
  codegen/fletchgen/test/fletchgen/test_recordbatch.cc
  common/cpp/include/fletcher/arrow-schema.h
  common/cpp/include/fletcher/arrow-utils.h
  common/cpp/src/fletcher/arrow-recordbatch.cc
  common/cpp/src/fletcher/arrow-schema.cc
  common/cpp/src/fletcher/hex-view.cc
  common/cpp/test/fletcher/test_common.cc
  common/cpp/test/fletcher/test_schemas.h
Labels: cerata, fletchgen, lang:c++, wip / do not merge
